            <ul class="list-unstyled">
              <li>
                <a href="https://github.com/eriklu">
                  GitHub
                </a>
              </li>             
              <li>
                <a href="http://blog.jobbole.com/">
                  Jobbole
                </a>
              </li>
              <li>
                <a href="http://www.cocoachina.com/">
                  CocoaChina
                </a>
              </li>	
              <li>
                <a href="https://itunesconnect.apple.com/WebObjects/iTunesConnect.woa">
                  itunesconnect.apple.com
                </a>
              </li>
              <li>
                <a href="https://developer.apple.com/">
                  Apple Developer Center
                </a>
              </li> 
              <li>
                <a href="http://www.raywenderlich.com/">
                  raywenderlich
                </a>
              </li> 
              <li>
                <a href="http://www.objc.io/">
                  objc
                </a>
              </li> 
              <li>
                <a href="http://www.infoq.com/cn">
                  infoq
                </a>
              </li> 
              <li>
                <a href="http://www.bbs.peidy.com/">
                  看雪论坛
                </a>
              </li> 
              <li>
                <a href="http://jex.im/regulex">
                  javascript正则表达式
                </a>
              </li>
              <li>
                <a href="http://www.browsersync.io/">
                  Web开发响应式调试工具
                </a>
              </li>
              <li>
                <a href="http://www.maxiang.info/">
                  马克飞象
                </a>
              </li>
              <li>
                <a href="https://www.zybuluo.com/mdeditor">
                  比马克飞象有更多特性的markdown编辑器
                </a>
              </li>
            </ul>